{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}
<hr class="my-4">

<div class="d-flex justify-content-center align-items-center">
    <div class="card text-white shadow-sm p-4" style="width: 100%; max-width: 500px;">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>

            <button type="submit" class="btn btn-dark mb-3">Register</button>

            <p class="text-center">Already have an account?</p>

            <div class="text-center">
                <a href="{% url 'login' %}" class="btn btn-dark w-100">Login</a>
            </div>
        </form>
    </div>
</div>




{% endblock %}